@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*https://colorhunt.co/*/
:root {
    --cor-1: #dcf2f1;
    --cor-2: #7fc7d9;
    --cor-3: #365486;
    --cor-4: #0f1035;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--cor-3);
    padding: 0;
    margin: 0;
    color: var(--cor-1);
}

footer {
    background-color: var(--cor-3);
    color: var(--cor-1);
}

.hero {
    color: var(--cor-1);
    background-color: var(--cor-4);
}

.card {
    min-height: 430px;
}