{{>header}}
<div class="container col-6">
    <h1>Faça o login</h1>
    <form action="/auth" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp">            
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>

{{>footer}}