<header
    class="d-flex flex-wrap align-items-center d-flex justify-content-evenly py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <h1>Rafa's Hamburger</h1>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/menu" class="nav-link px-2">Menu List</a></li>
        <li><a href="contact" class="nav-link px-2">Contact</a></li>
        <li><a href="/about" class="nav-link px-2">About</a></li>
        <li><a href="/login" class="nav-link px-2">Login</a></li>
         <li><a href="/form-create-user" class="nav-link px-2">New User</a></li>
         <li><a href="/form-create-burger" class="nav-link px-2">New burguer</a></li>
    </ul>
</header>